h1.navbar-brand {
    margin-bottom: 0;
    font-weight: normal;
}

.section-jeu {
    margin-top: 20px;
    margin-bottom: 20px;
}

.masquer {
    display: none;
}


body > nav.navbar > .container > h1.navbar-brand {
    color: #F00 !important;
}

body > nav.navbar {
    background-color: #0F0 !important;
}
